

#headerrow {
    border-bottom: 2px solid;
    min-height: 75px;
    height: calc(12vh);
}

#contentrow {
    height: calc(88vh);
}

#lateralnav {
    border-right: 2px solid;
    height: 100%;
}

#formgroups {
    display: none;
    margin-top: 15px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

#loading {
    font-size: 20pt;
    text-align: center;
}
